///* ========================================================================
//   #GLOBAL
//   ======================================================================== */

// The global settings file contains any project-wide variables; things that
// need to be made available to the entire codebase.



// Standardise some UI treatments.

$global-radius: 3px !default;
$global-transition: all 300ms ease-in-out !default;


// COLOR
    // BACKGROUND 
    $bgZero: #399CC3; // blue-green
    //#4958C6; // dark blue
    $bgOne: #F5F8FF; // lighter blue
    $bgTwo: #FFF;
    $bgThree: #4889FB; // light blue
    $bgFour: #F4F4F4; // gray

    // FONTS
    $ftZero: #FFFFFF; // white
    $ftOne: #373737;
    $ftTwo: #328FFA;

// SPRITES
    // ICONS
    $icons_sprite: url('../images/sprites/icons_sprite.svg');

// FONTS FAMILY
$ftFamilyZero: 'Helvetica Neue','Helvetica','Arial',sans-serif; 

// MARGIN
$mg-desktop: 114px;   
$mg-1024: 64px;   
$mg-960: 52px;   
$mg-720: 36px;  
$mg-600: 24px; 
$mg-480: 18px;   
$mg-400: 14px;  
$mg-320: 10px; 


//MIXINS     

@mixin section-margin {
    @media (min-width: 320px) {
        margin-bottom: $mg-600;
    }  
    @media (min-width: 720px) {
        margin-bottom: $mg-720;
    }  
    @media (min-width: 960px) {
        margin-bottom: $mg-960;
    }  
    @media (min-width: 1024px) {
        margin-bottom: $mg-1024;
    }        
    @media (min-width: 1280px) {
        margin-bottom: $mg-desktop;
    }
}



@mixin section-padding-bottom {
    @media (min-width: 320px) {
        padding-bottom: $mg-600;
    }  
    @media (min-width: 720px) {
        padding-bottom: $mg-720;
    }  
    @media (min-width: 960px) {
        padding-bottom: $mg-960;
    }  
    @media (min-width: 1024px) {
        padding-bottom: $mg-1024;
    }        
    @media (min-width: 1280px) {
        padding-bottom: $mg-desktop;
    }
}
@mixin section-padding-top {

    @media (min-width: 320px) {
        padding-top: $mg-600;
    }
    @media (min-width: 720px) {
        padding-top: $mg-720;
    }  
    @media (min-width: 960px) {
        padding-top: $mg-960;
    }  
    @media (min-width: 1024px) {
        padding-top: $mg-1024;
    }        
    @media (min-width: 1280px) {
        padding-top: $mg-desktop;
    }
}


@mixin section-padding {
    @media (min-width: 320px){
        padding: $mg-320;
    } 
    @media (min-width: 400px){
        padding: $mg-400;
    }
    @media (min-width: 480px){
        padding: $mg-480;
    }

    @media (min-width: 600px) {
        padding: $mg-600;
    }
    @media (min-width: 720px) {
        padding: $mg-720;
    }  
    @media (min-width: 960px) {
        padding: $mg-960;
    }  
    @media (min-width: 1024px) {
        padding: $mg-1024;
    }        
    @media (min-width: 1280px) {
        padding: $mg-desktop;
    }
}

// Text highlighting
::-moz-selection { /* Code for Firefox */
  color: white;
  background: $bgThree;
}

::selection {
  color: white;
  background: $bgThree;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
 
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px $bgThree inset;
  transition: background-color 5000s ease-in-out 0s;
}