/* ==========================================================================
   #LIST-INLINE
   ========================================================================== */

/**
 * The list-inline object simply displays a list of items in one line.
 */

.o-list-inline {
  margin-left: 0;
  list-style: none;
}

.o-list-inline__item {
    display: inline-block;
  }


.o-list-inline__flex {
  margin-left: 10px;
  list-style: none;
  display: -webkit-inline-box;
}
  